<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Cadastro</title> 
</head>
<body>
    <h1>Seja bem vindo a nossa página de suporte</h1> 
    <h2>Estamos aqui para te ajudar com qualquer problema que tenha com nossos serviços.</h2>


    <form method="post" enctype="multipart/form-data" > <!-- Formulário envia os dados via método POST -->
         {% csrf_token %} <!-- Proteção contra ataques CSRF (obrigatório em forms no Django) -->

         {{ form.as_p }} <!-- Renderiza automaticamente os campos do formulário como parágrafos (<p>) -->

        <button type="submit">Cadastrar</button> <!-- Botão de envio do formulário -->
    </form>

    
</body>
</html>
